.zzz {
    font-size: 34px;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    background: aquamarine;
    justify-content: center;
    align-items: center;
}
